.services__container{
    display:flex;
    flex-flow: wrap;
   justify-content: center;
   /* border: 1px solid red; */
}

.services__container > *{
    /* background-color: #2c2c6cc2; */
    margin: 8px 0px;
    padding: 8px 0px;
    line-height: 50px;
    width: 120px;
    /* border-radius: 10px; */
    /* border: 1px solid red; */
}

.item img{
    object-fit:contain;
    width: 100px;
    height: 80px;
    /* border: 1px solid white; */
}

.item:nth-child(2){
    transition-delay: 60ms;
}
.item:nth-child(3){
    transition-delay: 120ms;
}
.item:nth-child(4){ 
    transition-delay: 180ms;
}
.item:nth-child(5){
    transition-delay: 240ms;
}
.item:nth-child(6){
    transition-delay: 300ms;
}
.item:nth-child(7){
    transition-delay: 360ms;
}
.item:nth-child(8){
    transition-delay: 420ms;
}
.item:nth-child(9){
    transition-delay: 480ms;
}
.item:nth-child(10){ 
    transition-delay: 540ms;
}
.item:nth-child(11){
    transition-delay: 600ms;
}
.item:nth-child(12){
    transition-delay: 660ms;
}
.item:nth-child(13){
    transition-delay: 800ms;
}
.item:nth-child(14){
    transition-delay: 900ms;
}
.item:nth-child(15){
    transition-delay: 1000ms;
}
.item:nth-child(16){
    transition-delay: 1100ms;
}
.item:nth-child(17){
    transition-delay: 1200ms;
}
.item:nth-child(18){
    transition-delay: 1300ms;
}
.item:nth-child(19){
    transition-delay: 1400ms;
}

.hidden {
    opacity: 0; /* Make the element completely invisible */
    filter: none; /* Reset any filters, including blur */
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
    

.show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
}